.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.category-item {
  display: flex;
  align-items: center;
}

.category-item label {
  margin: 0 0 0 0.5rem;
  padding: 0;
}
.category-list {
}
